.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #E0F3FF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background-color: #454A4D;
}

header a {
  text-decoration: none;
  color: #CFDDE5;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #555A63;
}

footer {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px 30px;
  background-color: #454A4D;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 10px 30px;
  gap: 10px;
}

.input_block {
  display: flex;
  gap: 10px;
  width: 100%;
}

.input_block label {
  flex: 1;
  text-align: left;
}

.input_container {
  flex: 4;
}

.input_container input {
  width: 100%;
}

.input_container::after {
  content: attr(data-error-message);
  color: #FFAAAA;
  font-size: 12px;
}

.input_container[data-error=true] input {
  border-color: #FFAAAA;
}

.users_list {
  margin: 10px 30px;
  width: calc(100% - 60px);
}

.users_list h3 {
  text-align: left;
}

.users_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.user_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #8A9399;
  border-radius: 15px;
  padding: 15px;
}

.user_card .user_card__row {
  display: flex;
  gap: 10px;
  text-align: left;
}

.user_card .user_card__row .left {
  flex: 1;
}

.user_card .user_card__row .right {
  flex: 4;
}

@media screen and (max-width: 800px) {
  form,
  .users_list {
    margin: 10px auto;
  }

  .users_grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 575px) {
  form,
  .users_list {
    width: calc(100% - 60px);
  }

  .users_grid {
    grid-template-columns: 1fr;
  }
}
